#test

cd /home/fishros/2026YuYaoGuoSai/tools/grasp
python3 /home/fishros/2026YuYaoGuoSai/tools/pc_test_arm_ik.py

python3 tests/test_arm_grasp.py --mode pose

python3 tests/test_arm_grasp.py --mode gripper

python3 tests/test_arm_grasp.py --mode grasp --dis 220 --height 25

python3 tests/main.py 

python3 tests/test_block_detection_live.py


sudo chmod 666 /dev/ttyUSB0
